@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
:root{
  --themeRed: #e43a47;
  --gray: #efefef;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #D2F5E3;
}

button,
body{
  font-family: "Poppins",sans-serif;
}
*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  font-size: 20px;
  line-height: 26px;
}
.banner{
  width: 100%;
}
.container{
  width: 1140px;
  margin: auto;
}
.sectiontitle{
  width: 300px;
  border-bottom: 3px solid var(--themeRed);
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  margin: 0 auto 50px;
  position: relative;
  padding: 10px 0;
  text-transform: uppercase;
}
.sectiontitle::after{
  display: inline-block;
  content: "";
  height: 15px;
  width: 15px;
  background-color: #5FD068;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(75% - 7px);
  transform: rotate(45deg) translate(50%, 50%);
  border: 3px solid #fff;
}
section{
    padding: 100px 0;
    position: relative;
}
header{
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  z-index: 2;
}

header .container{
  display: flex;
  justify-content: space-between;
}
header .container .logo{
  margin-top: -10px;
  margin-bottom: -100%;
  padding: 10px 0;
  height: 100%;
  width: 30%;
}
header .container .logo img{
  width: 20%;
  margin-bottom: 0%;

}
header nav ul{
  list-style-type: none;
}
header nav ul li{
  display: inline-block;
}
header nav ul li a{
  display: block;
  height: 75px;
  line-height: 75px;
  padding: 0 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
  transition: 0.3s;
}
header nav ul li a:hover{
  background-color:#5FD068;
}
.fa{
  margin-right: 8px;
}
header .sub-menu{
  display: none;
}
header .sub-menu a{
padding: 0 ;
}
header nav ul li:hover .sub-menu{
  display: block;
  position: absolute;
  background: rgba(0,0,0,0.6);
  margin-left: -15px;
}
header nav ul li:hover .sub-menu ul{
  display: block;
  margin: 10px;
}
header nav ul li:hover .sub-menu ul li{
  display: block;
  width: 120px;
  padding: 0;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: o;
  text-align: left;
}
header nav ul li:hover .sub-menu ul li:last-child{
  border-bottom: none
}
.banner{
  min-height: 100vh;
  width: 100%;
  background-image: url("../image/hand.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container h1{
  margin-top: 230px;
  display: inline-block;
  font-size: 3.5rem;
  color: #fff;
  text-shadow: 0 0 2px #000;
  width: 68%;
  line-height: 4.2rem;
  font-weight: 100;
}
.container h1 span{
  background-color:#5FD068;
  display: inline-block;
  line-height: 3.5rem;
  padding: 0 15px;
  font-weight: 600;
  border-radius: 5px;
}
.container p{
  color: #fff;
  width: 50%;
  text-shadow: 0 0 2px #000;
  margin-top: 10px;
}
.container p span{
  background-color:#5FD068;

}
.banner button{
  background-color:#5FD068;
  border: 0;
  outline: none;
  color: #fff;
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 13px;
  border-radius: 3px;
  font-weight: 600;
  cursor:pointer;
}
.donate{
  border: 0.5px solid var(--themeRed);
  background-color: #E83A14;
  margin: 4px 0 4px 120px;
  width: 146px;
  outline: none;
}
.donate a{
  position: absolute;
  top: 0px;
  height: 75px;
  line-height: 75px;
  padding: 0 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
}
/*about us*/
.about p{
  font-family: cursive;
  width: 100%;
  text-shadow: 0 0 2px #000;
  color: black;

}
#aboutsection .cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  position: relative;
  height: 245px;
}
#aboutsection .cards > div{
  width: 350px;
  background-color: var(--gray);
  padding: 35px;
  color: #444;
  border-radius: 5px;
  height: 215px;
  border: 1px solid #ccc;
  transition: 0.4s;
}
#aboutsection .cards > div:hover{
  width: 400px;
  margin-top: -20px;
  border-color: #5FD068;
  padding: 55px;
  height: auto;
}
#aboutsection .cards > div .title{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
#aboutsection .cards > div p{
  font-size: 14px;
  margin-top: 15px;
}
#aboutsection .cards > div button{
  border: 1px solid var(--themeRed);
  outline: none;
  padding: 7px 15px;
  margin-top: 15px;
  font-size: 12px;
  border-radius: 3px;
  cursor:pointer;
  transition: 0.3s;
}
#aboutsection .cards > div:hover button{
  background-color: #5FD068;
  color: #fff;
}
/* post section */
.post{
  background-color: #C4DFAA;
}
.post .boxcontainer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 50px;
}
.post .boxcontainer .box{
  background-color: #fff;
  text-align: center;
  padding-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 #c5c5c5;
  position: relative;
  margin-bottom:15px;
}
.post .boxcontainer .box .cardimage{
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.post .boxcontainer .box .cardimage:after{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  filter: grayscale(100%);
  transition: 0.4s;
}
.post .boxcontainer .box:nth-child(1) .cardimage,
.post .boxcontainer .box:nth-child(1) .cardimage:after{
  background-image: url("../image/river/river1.jpeg");
}
.post .boxcontainer .box:nth-child(2) .cardimage,
.post .boxcontainer .box:nth-child(2) .cardimage:after{
  background-image: url("../image/pond/pond1.jpeg");
}
.post .boxcontainer .box:nth-child(3) .cardimage,
.post .boxcontainer .box:nth-child(3) .cardimage:after{
  background-image: url("../image/plantation/plantation1.jpeg");
}
.post .boxcontainer .box:nth-child(4) .cardimage,
.post .boxcontainer .box:nth-child(4) .cardimage:after{
  background-image: url("../image/education/education1.jpeg");
}
.post .boxcontainer .box:hover .cardimage:after{
  top: 100%;
  border-color: #5FD068;
}
.post .boxcontainer .box .programtitle{
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
  color: #444;
}.post .boxcontainer .box button{
  position: absolute;
  left: 50%;
  background-color:#5FD068;
  color: #fff;
  transform: translate(-50%);
  bottom: -23px;
  border-radius: 60px;
  padding: 7px 15px;
  border: 0;
  outline: none;
  cursor: pointer;
}
/*education part is here*/
.education{
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.education .videoplayer{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.education .sectiontitle{
  color: #fff;
  text-shadow: 0 0 4px #000;
}
.education .educationcontainer{
  position: absolute;
  background-color: #00000096;
  width: 600px;
  top: 35vh;
  color: #fff;
  text-shadow: 0 0 3px #000;
  padding: 30px;
}
.education .educationcontainer h3{
  font-size: 35px;
  font-weight: 300;
}
.education .educationcontainer p{
  font-size: 15px;
  line-height: 20px;
  margin: 10px 0 30px;
  width: 100%;
}
.education .educationcontainer button{
  background-color: #5FD068;
  border: 0;
  color: #fff;
  padding: 10px 25px;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  cursor:pointer;
}
/* gallery section is here */
.gallery .gallerycontainer{
  column-count: 4;
  column-gap: 20px;
}
.gallery .gallerycontainer .item{
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.gallery .gallerycontainer .item img{
  width: 100%;
  display: block;
  transition: 0.4s;
}
.gallery .gallerycontainer .item .title{
    position: absolute;
    background-color:#5FD068;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    opacity: 0;
    z-index: 1;
    transition: 0.4s;

}
.gallery .gallerycontainer .item:hover .title{
  opacity: 1;
}
.gallery .gallerycontainer .item:hover img{
  transform: scale(1.2);
}
.gallery .last img{
  width: 92%;
  height: 400px;
  transition: 0.4s;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 50px;
}
.gallery .last .title{
  position: absolute;
  background-color:#5FD068;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  opacity: 0;
  z-index: 1;
  transition: 0.4s;
}
.gallery .last:hover .title{
  opacity: 1;
}
.gallery .last:hover img{
  transform: scale(1.08);
}
/* map location is here */
.map{
  background-color: #C4DFAA;
}
.map .container iframe{
  width: 100%;
  height: 550px;
  transition: 0.4s;
}
.map .container .mapbox:hover{
  transform: scale(1.2);
}
/* FOTTER HERE */
.footer{
  background-color: #C4DFAA;
}
footer{
  width: 100%;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #5FD068);
  color: #fff;
  padding: 10px 0 20px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}
footer p{
  font-size: 15px;
  line-height: 20px;
}
footer .row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col{
  flex-basis: 25%;
  padding: 10px;;
}
.col:nth-child(2), .col:nth-child(3){
  flex-basis: 15%;
}
footer .logo{
  height: 10px;
  width: -100px;
  margin-bottom: 30px;
}
.col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
footer .email-id{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
footer ul li{
  list-style: none;
  margin-bottom: 12px;;
}
footer ul li a{
  text-decoration: none;
  color: #fff;
}
footer form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
footer .fa-envelope{
  font-size: 18px;
  margin-right: 10px;
}
footer form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
footer form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
footer form button .fa-arrow-right{
  font-size: 16px;
  color: #ccc;
}
footer .social-icon .fa-brands,
footer .social-icon .fa-solid{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}
footer hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 5px auto;
}
.copyright{
  text-align: center;
}
.underline{
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
@keyframes moving{
  0%{
    left: -20px;
  }
  100%{
    left: 100%;
  }
}
/* responsive code start  */
@media (max-width:1140px){
  .container{
    width: 100%;
    padding: 0 15px;
  }
  .education .videoplayer{
    width: 1280px;
  }
}

@media screen and (max-width:1080px){
  .banner h1{
    margin-top: 200px;
  }
  #aboutsection .cards{
    justify-content: space-around;
    height: auto;
  }
  #aboutsection .cards > div{
    margin: 10px 0;
  }
}
@media (max-width:1024px){
  .banner{
    background-position-x:45%;
  }
  .banner h1{
    font-size: 2.5rem;
  }
  .post .boxcontainer{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px){
  header nav{
    position: relative;
    border: 2px solid #fff;
    height: 30px;
    width:30px;
    margin-top: 20px;
    border-radius: 5px;
  }
  header nav:after{
    top: 17px;
  }
  header nav:before{
    top: 7px;
  }
  header nav:after,
  header nav:before{
    content: "";
    height: 2px;
    width: 17px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 5px;
  }
  header nav ul{
    position: absolute;
    right: -800px;
    top: 53px;
    transition: 0.5s;
  }
  header nav:hover ul{
    right: 0;
  }
  header nav ul li{
    display: block;
  }
  header nav ul li a{
    width: 300px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .banner{
    background-position-x: 65%;
  }
  .banner p{
    font-size: 14px;
  }
  .banner p,
  .banner h1{
    width: 70%;
  }
  #aboutsection .cards > div:hover{
    width: 350px;
  }
  .education .educationcontainer{
    width: 96%;
  }
  .education .educationcontainer h3{
    font-size: 30px;
    line-height: 35px;
  }
  .education .educationcontainer p{
    margin: 10px 0 20px;;
  }
  .gallery .gallerycontainer{
    column-count: 2;
  }
}

@media (max-width: 425px){
  .banner h1{
    margin-top: 150px;
    font-size: 2rem;
    line-height: 3rem;
  }
  .banner button{
    margin-bottom: 10px;
  }
  #aboutsection p{
    text-align: justify;
  }
  #aboutsection .cards > div:hover{
    width: 400px;
    margin-top: 10px;
    padding: 35px;
  }
  .post .boxcontainer{
    grid-template-columns: 1fr;
  }
  .education .videoplayer{
    width: 1400px;
  }
  .education .educationcontainer{
    width: 93%;
  }
  .gallery .gallerycontainer{
    column-count: 1;
  }
}

@media (max-width: 320px){
  .education .educationcontainer h3{
    font-size: 18px;
    line-height: 24px;
  }
  .banner h1{
    margin-top: 200px;
  }
}

@media ( max-width:768px){
  .footer{
    bottom: unset;
  }
  .col{
    flex-basis: 50%;
  }
  .col:nth-child(2), .col:nth-child(3){
    flex-basis: 50%;
  }
}
@media (max-width:425px){
  .footer{
    bottom: unset;
  }
  .col{
    flex-basis: 100%;
  }
  .col:nth-child(2), .col:nth-child(3){
    flex-basis: 100%;
  }

}
@media (max-width: 430px){
  .logo img{
    width: 30%;
    height: 47.462px;
  }
}
@media (max-width:430px){
  header nav ul li a{
    width: 150px;
  }
}

@media(max-width:1030px){
  .donate{
  margin-left: 7px;
  }
}
@media(max-width:780px){
  .donate{
    margin-left: -241px;
  }

}